body{
    background-color: #FFD69D;
}

.contenido-1{
    background-color: #C5EBFE;
    width: 25%;
}
.titulo, .cursos, #logros {
    color: #051fad;
}
#subtitulos{
    color: #040925;
}
#logro_image{
    position: relative;
    left: 20px;
}

.contenido-2{
    color: #250407;
    padding: 10px;
    position: absolute;
    top: 5px;
    left: 38%;
}

.contenido-3{
    background-color: #FFDE59;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 30%;
    height: 28%;
    width: 45%;
}

.contenido-4{
    background-color: #FFDE59;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 65%;
    left: 30%;
    height: 28%;
    width: 45%;
}

.contenido-5{
    background-color: #FFDE59;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 105%;
    left: 30%;
    height: 28%;
    width: 45%;
}

.continue{
    background-color: #FF920F;
    color: black;
    cursor: pointer;
}