.tab-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scrollArea-container {
  flex: 1;
}

.profile-config-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7fafc; /* gris claro para el fondo */
  padding: 1rem;
  border-radius: 8px;
}


.button-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px; /* Espacio entre el logo y el texto */
}

.image-home {
  width: 24px; /* Tamaño del logo */
  height: 24px; /* Tamaño del logo */
}

.scrollArea-container aside {
  margin-bottom: 20px; /* Espacio debajo de la imagen del logo */
}

button {
  margin-bottom: 10px; /* Espacio entre botones */
}

.text-course {
  display: block;
  margin: 20px 0 10px 0; /* Espacio alrededor de los títulos de sección */
}

