.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered-image {
    max-width: 35%;
    position: relative;
    margin-left: 700px;
    top: 50px;  
  }

.text-style {
    color: hsl(0, 0%, 3%);
    font-size: 100px;
    font-weight: 'bold';
    margin-left: 150px;
    top: -450px;
    position: relative;
}

.container-2 {
    display: grid;
    justify-content: start;
    align-items: center;

}

.text-style-2 {
    background: linear-gradient(to right,  #FFB74E,  #FF9472);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 0.3;
    font-size: 100px;
    top: -450px;
    position: relative;
    margin-left: 100px;
    height: 100vh;
}


.image-style {
    width: '600px';
    height: '500px';
    
}
.parrafo{
    font-weight: 'bold';
    margin-left: 150px;
    top: -1050px;
    position: relative;
}


.button {
    position: relative;
    left:10px;
    margin-left: 860px;
    top: 60px;
    width: 480px;
}

.text1 {
  font-weight: 'bold';
  margin-left: 100px;
  top: -1000px;
  position: relative;
  }
  
.text2 {
  font-weight: 'bold';
  margin-left: 260px;
  top: -1023px;
  position: relative;
  }
  
.text3 {
  font-weight: 'bold';
  margin-left: 525px;
  top: -1047px;
  position: relative;
  }
  
