.image-container {
    position: 'relative';
    margin-left: '1000px';
    top: '20px';
    width: '500px';
    height: '500px';
    
}


.text-style {
    color: #8b0303
}

.image-style {
    width: '600px';
    height: '500px';
}
